:root {
  --main-10: #ffe7d6;
  --main-20: #ffcfad;
  --main-30: #ffb784;
  --main-40: #ff9f5b;
  --main-50: #ff8732;
  --main-60: #ff8732;
  --main-70: #99511e;
  --main-80: #663614;
  --main-90: #663614;

  --white: #ffffff;
  --gray-10: #f0f0f0;
  --gray-20: #e4e4e4;
  --gray-30: #cccccc;
  --gray-40: #999999;
  --gray-50: #666666;
  --gray-60: #333333;
  --black: #000000;

  --kakao: #ffe812;
  --background: #fff9f5;
}
