.itemContainer {
	width: 350px;
	height: 103px;
	border-radius: 10px;
	border: 1px solid var(--gray-30);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 20px;
	cursor: pointer;
}

.hasAddedMenu {
	border: 1px solid var(--main-50);
}

.isWaitingMenuAdd {
	background-color: var(--gray-30);
}

.menuAddP {
	color: var(--main-50);
	font-size: 15px;
	margin-bottom: 10px;
}

.titleSection {
	color: var(--gray-60);
}

.menuTitle {
	font-size: 21px;
	font-weight: 700;
	line-height: 31.5px;
}

.teamTitle {
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
}

.moreModal {
	position: 'absolute';
	z-index: 6;
	transform: 'translate(191.5px, 100px)';
}
