.Container {
	width: 100%;
	height: 100vh;
}

.ContentsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.InputContainer {
}

.Sub {
}

.Input {
}

.OptionContainer {
}

.OptionButtonBox {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.OptionButton {
}

.ButtonBox {
}
