.Container {
	min-height: 100vh;
	width: 100%;
	background-color: var(--white);
}

.TutorialBox {
	flex: 1;
}

.BtnBox {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 158px;
	gap: 8px;
	padding-bottom: 10px;
}

.Sub {
	font-size: 13px;
	background-color: var(--white);
}

.Kakao {
	border-radius: 10px;
	cursor: pointer;
}
