.Container {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.TutorialBox {
	height: calc(100vh - 158px);
}

.BtnBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 158px;
	gap: 8px;
}

.Sub {
	font-size: 13px;
	background-color: var(--white);
}

.Kakao {
	border-radius: 10px;
	cursor: pointer;
}
