.modal {
	position: relative;
	background-color: var(--main-10);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 220px;
	height: 50px;
	display: flex;
}

.modal::after {
	content: '';
	position: absolute;
	top: -18px;
	left: 90px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid var(--main-10);
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 13px;
	font-weight: 700;
	line-height: 19.5px;
	margin: 0;
	padding: 0;
	color: var(--gray-60);
	white-space: nowrap;
}
