.Container {
	position: relative;
	height: 100vh;
}

.ButtonBox {
	background-color: var(--white);
	position: fixed;
	width: 390px;
	height: 120px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.loading {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}