.DefaultButton {
  border-radius: 10px;
  border: none;
  color: var(--white);
  font-weight: 600;
  font-size: 17px;
}

.big {
  width: 280px;
  height: 60px;
}

.small {
  width: 170px;
  height: 60px;
}

.default {
  background-color: var(--main-50);
  cursor: pointer;
}

.disabled {
  background-color: var(--gray-20);
}

.test {
  width: 350px;
  height: 60px;
  background-color: var(--white);
  border: 1px solid var(--main-50);
  color: var(--main-50);
  cursor: pointer;
}
