.Container {
  display: flex;
  border: 1px solid var(--gray-20);
  width: fit-content;
  border-radius: 10px;
  background-color: var(--gray-20);
  font-size: 15px;
}

.Button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

.inactive {
  background-color: var(--gray-20);
  color: var(--gray-40);
}

.active {
  background-color: white;
  color: var(--gray-60);
}
