.contentsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.middleBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 100px;
}

.buttonBox {
	display: flex;
	gap: 5px;
}

.comment {
	font-size: 17px;
	color: var(--gray-60);
	font-weight: 700;
}

.BottomBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 80px;
}

.iconsBox {
	display: flex;
	gap: 30px;
}

.icon {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
}

.iconName {
	font-size: 13px;
	color: var(--gray-40);
}

.bottomComment {
	font-size: 15px;
	color: var(--gray-40);
	font-weight: 500;
	position: absolute;
	bottom: 80px;
}
