.NavBarContainer {
	width: 100%;
	height: 66px;
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 10px 0;
}

.Icon_Back {
	cursor: pointer;
	position: absolute;
	left: 15px;
}

.MenuButtonBox {
	display: flex;
	align-items: center;
	position: relative;
}

.Title {
	font-size: 19px;
	font-weight: 700;
}

.MoreBtn {
	cursor: pointer;
	position: absolute;
	right: 0;
}
