.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--white);
  border-radius: 20px;
  padding: 50px 25px 24px 25px;
  width: 300px;
  height: 250px;
}