.contentSection {
	margin-top: 10px;
	position: relative;
	height: calc(100vh - 136px);
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow: hidden;
}

.title {
	font-size: 17px;
	font-weight: 700;
	line-height: 25.5px;
	color: var(--black);
}

.userInfoSection {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}

.userNameSection {
	display: flex;
	gap: 82px;
	font-weight: 700;
	font-size: 15px;
	line-height: 22.5px;
}

.userEmailSection {
	display: flex;
	gap: 52px;
	font-weight: 700;
	font-size: 15px;
	line-height: 22.5px;
}

.leftText {
	color: var(--gray-40);
}

.rightText {
	color: var(--gray-60);
}

.logoutSection {
	position: absolute;
	font-weight: 400;
	line-height: 22.5px;
	font-size: 15px;
	color: var(--gray-60);
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid var(--gray-60);
	cursor: pointer;
}

.voteResultContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 20px;
}

.voteResultTopBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.voteResultP {
	font-weight: 700;
	font-size: 17px;
}

.voteResultBtn {
	display: flex;
	align-items: center;
	cursor: pointer;
	line-height: 19.5px;
	font-size: 13px;
	color: var(--gray-60);
	font-weight: 700;
}

.arrow {
	margin-bottom: 2px;
}

.voteListBox {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
	overflow: auto;
	margin-bottom: 180px;
}

.loading {
	display: flex;
	height: calc(100vh - 116px);
	justify-content: center;
	align-items: center;
}
