.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0 10px 150px 10px;
	overflow: auto;
}

.menuBoard {
	padding: 10px;
	width: 350px;
	min-height: 180px;
	border-radius: 20px;
	border: 1px solid var(--gray-30);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 35px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	gap: 10px;
}

.placeholder {
	font-size: 19px;
	color: var(--gray-40);
}

.sub {
	font-size: 19px;
	font-weight: 500;
	color: var(--gray-60);
	margin-bottom: 10px;
	align-self: flex-start;
}

.selectBar {
	width: 350px;
	min-height: 50px;
	border: 1px solid var(--gray-50);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 20px;
}

.ul {
	width: 348px;
	max-height: 250px;
	border: 1px solid var(--gray-30);
	background: #fff;
	border-top: none;
	overflow: auto;
	color: var(--gray-60);
	position: absolute;
	transform: translateY(294px);
}

.disabled {
	display: none;
}

.li {
	height: 50px;
	font-size: 19px;
	border-bottom: 1px solid var(--gray-30);
	padding-left: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.li:hover {
	background-color: var(--gray-20);
}

.defaultMenu {
	color: var(--gray-30);
	font-size: 19px;
}

.selectedMenu {
	font-size: 19px;
	color: var(--gray-60);
}

.menuSub {
	font-size: 19px;
	font-weight: 500;
	color: var(--gray-60);
	margin-bottom: 5px;
	align-self: flex-start;
	margin-top: 40px;
}

.subSpan {
	font-size: 15px;
	margin-left: 10px;
}

.menuList {
	height: fit-content;
	width: 100%;
	padding-bottom: 40px;
}

.category {
	width: 100%;
	margin: 10px 0;
	font-size: 15px;
	font-weight: 700;
}

.categoryBox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px; /* 아이템 사이의 간격 */
	margin-bottom: 30px;
}

.menuItemBox {
	display: flex;
	align-items: center;
}

.checkBox {
	cursor: pointer;
	margin-right: 3px;
}

.menuItem {
	font-size: 15px;
	color: var(--gray-60);
}

.buttonBox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 390px;
	height: 100px;
	background-color: var(--white);
	position: fixed;
	bottom: 40px;
	transform: translateX(-10px);
}
