.homeContainer {
	height: calc(100vh - 97px);
}

.createContainer {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 0 20px;
}

.titleSection {
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	color: var(--black);
	display: flex;
	align-items: center;
	gap: 4px;
	position: relative;
}

.Container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 185px);
}
